@model GB.ASPNET.WebStore.ViewModels.EmployeeVM
@{
    ViewData["Title"] = "Employee detailed";
}
<div class="container">
    <h3>Запись о сотруднике @Model.NameShort</h3>

    <form method="post" asp-controller="Employees" asp-action="Update" asp-route-id="@Model.Id">
        <table class="table">
            <tbody>
                <tr>
                    <td>Фамилия</td>
                    <td>@Model.NameLast</td>
                    <td><input type="text" placeholder="изменить" id="setNameLast" name="setNameLast" /></td>
                </tr>
                <tr>
                    <td>Имя</td>
                    <td>@Model.NameFirst</td>
                    <td><input type="text" placeholder="изменить" id="setNameFirst" name="setNameFirst" /></td>
                </tr>
                <tr>
                    <td>Отчество</td>
                    <td>@Model.NamePaternal</td>
                    <td><input type="text" placeholder="изменить" id="setNamePaternal" name="setNamePaternal" /></td>
                </tr>
                <tr>
                    <td>Возраст</td>
                    <td>@Model.Age.ToString() @GB.ASPNET.WebStore.Models.General.AgeUnit(Model.Age)</td>
                    <td><input type="number" placeholder="изменить" min="1" max="200" id="setAge" name="setAge" /></td>
                </tr>
            </tbody>
        </table>
        <p>
            @*<input type="hidden" value="@Model.Id" name="updateId" />*@
            @*@Html.ActionLink(linkText: "Edit", actionName: "Update", controllerName: "Employees", routeValues: new Employee { Id = 1, NameLast = "Иванов", NameFirst = "Иван", NamePaternal = "Иванович", Age = 23 });*@
            <input type="submit" value="принять изменения" name="update_employee" />
        </p>
    </form>
    
    <p><a asp-controller="Employee" asp-action="List">Список сотрудников</a></p>
    <p><a asp-controller="Home" asp-action="Index">На главную</a></p>
</div>