@model IEnumerable<GB.ASPNET.WebStore.ViewModels.EmployeeVM>
@{
    ViewData["Title"] = "Список сотрудников";
}
<div class="container">
    <h3>Список сотрудников</h3>

    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Возраст</th>
                    <th>Ф.И.О.</th>
                    @if (User.IsInRole(Role.administrators))
                    {
                        <th></th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var emp in Model)
                {
                    <tr>
                        <td>@emp.NameLast</td>
                        <td>@emp.NameFirst</td>
                        <td>@emp.NamePaternal</td>
                        <td>@emp.Age.ToString() @GB.ASPNET.WebStore.Models.General.AgeUnit(emp.Age)</td>
                        <td>@emp.NameShort</td>
                        <td><a asp-controller="Employees" asp-action="Details" asp-route-id="@emp.Id">подробно</a></td>
                        @if (User.IsInRole(Role.administrators))
                        {
                            <td>
                                <a asp-controller="Employees" asp-action="Update" asp-route-id="@emp.Id">
                                    <span class="fa fa-edit"></span>
                                </a> |
                                <a asp-controller="Employees" asp-action="Delete" asp-route-id="@emp.Id" class="text-danger">
                                    <span class="fa fa-times" ></span>
                                </a>
                            </td>   
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Сотрудников нет.</p>
    }

    @if (User.IsInRole(Role.administrators))
    {
        <p>
            <a asp-controller="Employees" asp-action="Create">Новая запись</a>
            или же
            <a asp-controller="Employees" asp-action="Update">Запись новая</a>
        </p>
        <p><a asp-controller="Home" asp-action="Index">На главную</a></p>
    }
</div>